.hockey-zone {
  /* height: 100vh; */
}
.rates-and-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50vw;
}
#hockey-info-zone {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  height: 1050px;
  justify-content: space-between;
  /* height: 100%; */
}
#timeline {
  display: flex;
  flex-direction: row;
  background-color: #0f0f0f;
  padding-right: 50px;
  padding-left: 30px;
  margin: 0;
}

.nostyle {
  color: none;
}
.horizontal-line {
  width: 50px;
  height: 2px;
  background-color: #777777;
}
.hockey-year-holder {
  height: 150px;
  display: flex;
  align-items: center;
  margin-left: -8px;
  margin-right: 20px;
}
.hockey-year {
  color: #777777;
}
.InnA6 {
  color: white;
}
.ThBFj {
  color: white;
}
#lesson-booking-header {
  align-self: center;
  margin-bottom: -20px;
}
#lesson-disclaimer {
  align-self: center;
  background-color: rgba(255, 0, 0, 0.415);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: -40px;
}
/* .lesson-button {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

.lesson-button:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.8;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
  cursor: pointer;
} */
.lesson-button {
  background-color: #00a2ff;
  border-radius: 10px;
  border: none;
  font-size: 14pt;
  height: 70px;
  color: #ffffff;
  font-family: Poppins;
  width: 100%;
  margin: 0;
  font-weight: bold;
  cursor: pointer; /* Ensure the cursor changes to pointer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Initial shadow */
  transition: 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for hover effect */
  scale: 1;
}

.lesson-button:hover {
  opacity: 0.7;
  /* scale: ; */
}
.lesson-column {
  width: 40%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lesson-columns {
  margin: 50px;
  display: flex;
  width: 50vw;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex: 1; */
  /* height: fit-content; */
}

#calendar-section::-webkit-scrollbar {
  display: none;
}
.hockey-team-years {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#vertical-line-connector {
  height: 100%;
  width: 2px;
  background-color: #777777;
  /* margin-left: 100px; */
}
#experience-timeline {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.timeline-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team-title {
  font-size: 18pt;
  color: white;
  text-decoration-line: none;
}
.team-info {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.day {
  color: lightgray;
}
.team-extra {
  color: #777777;
}
.under-lesson {
  align-self: center;
}
.times {
  letter-spacing: 1.5px;
  /* text-decoration-line: underline; */
}
#cal {
  /* width: 100vw; */
  /* height: 870px; */
}
#cal::-webkit-scrollbar {
  display: none;
}
.lesson-section {
  /* margin-right: 4%; */
  /* margin-left: 4%; */
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}
#lakers-schedule {
  width: 30vw;
  border-radius: 20px;
  border: 0px solid skyblue;
  border-width: 5px;
}
#hockey-game-schedule {
  /* width: 110%; */
  height: 100%;
  /* background-color: #343434; */
  /* box-shadow: 0px 0px 20px 5px #3d3d3d; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
}
.location-text {
  color: #777777;
}
table {
  background-color: #101010;
  border-radius: 10px;
}
th,
td {
  padding: 10px;
  text-align: center;
}
#rate-table {
  /* margin-top: 50px; */
  /* width: 250px; */
  width: 100%;
}
tr:hover {
  background-color: #272727;
}
.table-title {
  margin-top: 20px;

  font-size: 14pt;
  font-weight: bold;
  color: #999999;
}
.InnA6 {
  color: white;
}
.hockey-header {
  font-size: 18pt;
  font-weight: bold;
  display: flex;
  /* justify-content: center; */
  margin-left: 100px;
  color: #999999;
}
.underline {
  text-decoration-line: underline;
}
.game-text-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
}
#hockey-title {
  /* color: black; */
  margin-left: 100px;
  font-size: 36pt;
  /* margin-top: -100px; */
  position: absolute;
  bottom: 100px;
  /* margin-bottom: -100px; */
  z-index: 10;
  /* top: 50px; */
  background: linear-gradient(25deg, rgb(254, 111, 28), rgb(15, 26, 108));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#video-holder {
  height: 75vh;
  overflow: hidden;
}
#video-touch-blocker {
  /* background-color: red; */
  position: absolute;
  height: 75vh;
  width: 100%;
  z-index: 5;
  top: 46px;
}
#video {
  width: 100%;
  margin-top: -100px;
  object-fit: cover;
  /* top: 50px; */
  left: 0px;
  /* z-index: -1; */
  margin-top: -180px;
  box-shadow: 0px 0px 10px 10px #101010;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 180%;
  max-height: none;
  max-width: none;
  /* position: absolute; */
  /* left: 0; */
  /* top: 20%; */
  /* display: block; */
}
#video:hover {
  border-radius: 100px;
}
#video-overlay {
  background-color: rgba(255, 103, 47, 0.82);
  overflow: hidden;
  height: 120%;
  position: absolute;
  z-index: 19;
  bottom: 0;
}
.hockey-experience-subdivision {
  /* margin-left: 200px; */
}
#lakers {
  width: 200px;
  margin-top: -70px;
  margin-left: -15px;
  /* width: 300px; */
  border-image-slice: fill;
}
#iceraiders {
  width: 200px;
  margin-top: -30px;
  margin-left: -35px;
  /* width: 300px; */
  border-image-slice: fill;
}
#islanders {
  height: 150px;
  /* width: 300px; */
  border-image-slice: fill;
}
#advantage {
  height: 150px;
  /* width: 300px; */
  border-image-slice: fill;
}
#valencia {
  height: 190px;
  /* width: 300px; */
  border-image-slice: fill;
}
#riptide {
  height: 155px;

  border-image-slice: fill;
}
#tahoe {
  /* height: 380px; */
  width: 210px;
  margin-left: -30px;
  margin-top: -20px;
  border-image-slice: fill;
}
.payment-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  width: 100%;
  height: 120px;
  border-radius: 10px;
}
#option1 {
  margin-bottom: 20px;
}
#payment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 100%;
}
#venmo {
  width: 200px;
}
#zelle {
  width: 140px;
}
.payment-link {
  color: white;
  font-size: 18pt;
}
.hockey-image-container {
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 70%;
}
.hockey-header-holder {
  display: none;
}
@media (max-width: 780px) {
  #timeline {
    padding: 0;
  }
  #iceraiders {
    width: 150px;
    margin-top: -30px;
    margin-left: -30px;
  }
  .hockey-year-holder {
    height: 100px;
    margin-left: 10px;
  }
  table {
    align-self: center;
    min-width: 50vw;
  }
  .hockey-header-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .team-title {
    font-size: 12pt;
  }
  #about-me-header {
    margin-top: 100px;
  }
  #hockey-info-zone {
    flex-direction: column;
    /* margin-left: 20px; */
    padding-left: 0;
    height: fit-content;
  }
  .hockey-image-container {
    height: 100px;
    width: 100px;
  }
  #timeline {
    margin-left: 0px;
    min-height: 800px;
  }
  .hockey-team-years {
    height: 800px;
  }
  #vertical-line-connector {
    height: 800px;
  }
  #lakers {
    width: 160px;
    margin-top: -60px;
    margin-left: -20px;
    border-image-slice: fill;
  }
  .team-extra {
    font-size: 12px;
  }
  #islanders {
    height: 100px;
    /* width: 300px; */
    border-image-slice: fill;
  }
  #advantage {
    height: 100px;
    /* width: 300px; */
    border-image-slice: fill;
  }
  #valencia {
    height: 125px;
    /* width: 300px; */
    border-image-slice: fill;
  }
  #riptide {
    height: 105px;

    border-image-slice: fill;
  }
  #tahoe {
    /* height: 380px; */
    width: 130px;
    margin-left: -20px;
    margin-top: -5px;
    border-image-slice: fill;
  }
  #video-touch-blocker {
    height: 0px;
  }
  #video {
    /* height: 240px; */
    object-fit: cover;
    margin-top: -105px;
  }
  #video-holder {
    height: 250px;
  }
  .team-info {
    margin-left: 10px;
  }
  #hockey-game-schedule {
    flex-direction: column-reverse;
    /* margin-top: 50px; */
  }
  #lesson-columns {
    flex-direction: column;
    width: 100vw;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  #rate-table {
    margin-bottom: 20px;
  }
  .lesson-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .lesson-column {
    width: 90vw;
    margin: 0;
  }
  .lesson-button {
    width: 90vw;
  }
  #skating-lesson-button {
    /* display: none; */
    /* background-color: red; */
  }
  #hockey-column {
    margin-bottom: 20px;
    flex-direction: column-reverse;
  }
  #lakers-schedule {
    width: 90vw;
  }
  #calendar {
    width: 90%;
    /* height: 900px; */
  }
  #calendar-section {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }
  .lesson-section {
    margin-bottom: 50px;
  }
  #lesson-booking-header {
    align-self: center;
    margin-bottom: 10px;
  }
  #lesson-disclaimer {
    align-self: center;
    margin-bottom: -5px;
  }
  .rates-and-payment {
    flex-direction: column;
    width: auto;
  }
}
