.header {
  font-size: 64pt;
  color: #fffde7;
}
#hamburger-menu-icon-holder {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 6;
}

.hamburger-menu {
  right: 10%;
  z-index: 5;
  position: fixed;
  transition: all 1s ease;
  width: 90%;
  height: 100vh;
  background-color: #0c0c0c;
  top: 0px;
}
.hamburger-hidden {
  right: 100%;
  /* top: 50px; */
  z-index: 5;
  position: fixed;
  transition: all 1s ease;
  width: 90%;
  height: 100vh;
  top: 0px;
}
.sub-header {
  font-size: 42pt;
  color: #fffde7;
}
.cover-text-holder {
  flex-direction: column;
}
.name {
  font-size: 24pt;
  color: #fffde7;
}
.header-holder {
  width: 100%;
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  align-items: flex-start;
  margin-left: 100px;
  align-items: center;
}
.name-holder {
  /* background-color: red; */
  flex-direction: row;
  align-items: flex-start;
  margin-left: 100px;
}
.nav-link {
  font-size: 10pt;
  /* letter-spacing: 1.2px; */
  color: lightgray;
}
:hover .nav-link {
  cursor: pointer;
}
#landing-header-nav-holder {
  margin-bottom: 100px;
}
#landing-header-nav {
  display: flex;
  width: 400px;
  margin-left: 100px;
  justify-content: space-between;
}

#down-arrows-holder {
  /* background-color: red; */
  flex: 1;
  display: flex;
  justify-content: center;
  /* margin-top: -150px; */
  animation-duration: 3s;
  animation-name: arrowAnimation;
  animation-iteration-count: infinite;
}
#down-arrows {
  margin-top: -70px;
}

@keyframes arrowAnimation {
  from {
    opacity: 0.1;
    /* transform: rotate(0deg); */
  }

  50% {
    opacity: 1;
    transform: translateY(10px);
  }

  to {
    opacity: 0.1;
  }
}
.landing-zone {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: linear-gradient(25deg, rgb(254, 111, 28), rgb(15, 26, 108));
  /* background: linear-gradient(rgb(3, 187, 207), #191919); */
}
.text-cursor {
  font-weight: 200;
  color: #fffde7;
  font-size: 96pt;
  transition: ease;
  animation: text-cursor-blink infinite 1s linear;
}
.selected-nav {
  /* font-weight: bold; */
  text-decoration-line: underline;
  color: white;
}

@keyframes text-cursor-blink {
  from {
    opacity: 0;
    /* transform: rotate(0deg); */
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }

  to {
    opacity: 100;
  }
}

.top-nav-landing-holder {
  width: 800px;
}

@media (max-width: 780px) {
  .landing-zone {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(25deg, rgb(254, 111, 28), rgb(15, 26, 108));
    /* background: linear-gradient(rgb(3, 187, 207), #191919); */
  }

  .header {
    font-size: 24pt;
    color: #fffde7;
  }
  .name {
    font-size: 18pt;
    color: #fffde7;
  }
  .text-cursor {
    font-weight: 200;
    color: #fffde7;
    font-size: 62pt;
    transition: ease;
    animation: text-cursor-blink infinite 1s linear;
  }
  .header-holder {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    margin-left: 20px;
  }
  .name-holder {
    /* background-color: red; */
    flex-direction: row;
    align-items: flex-start;
    margin-left: 20px;
  }
  .cover-text-holder {
    width: 100vw;
  }
  .top-nav-landing-holder {
    width: 60vw;
  }
  #landing-header-nav {
    display: flex;
    width: 100%;
    margin-left: 0px;
    justify-content: space-between;
  }
}
