.header {
  font-size: 64pt;
  color: #fffde7;
}
.sub-header {
  font-size: 42pt;
  color: #fffde7;
}
.cover-text-holder {
  flex-direction: column;
}
.name {
  font-size: 24pt;
  color: #fffde7;
}
.header-holder {
  width: 100%;
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  align-items: flex-start;
  margin-left: 100px;
  align-items: center;
}
.name-holder {
  /* background-color: red; */
  flex-direction: row;
  align-items: flex-start;
  margin-left: 100px;
}
.landing-zone {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(25deg, rgb(254, 111, 28), rgb(15, 26, 108));
  /* background: linear-gradient(rgb(3, 187, 207), #191919); */
}
.text-cursor {
  font-weight: 200;
  color: #fffde7;
  font-size: 96pt;
  transition: ease;
  animation: text-cursor-blink infinite 1s linear;
}
@keyframes text-cursor-blink {
  from {
    opacity: 0;
    /* transform: rotate(0deg); */
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }

  to {
    opacity: 100;
  }
}
