.clock-holder {
  width: 100px;
  height: 70px;
  /* width: fit-content; */
  /* align-content: center; */
  /* margin: auto; */
  /* width: 220px; */
  /* transform-origin: center; */
  /* position: absolute; */
  position: relative;
  /* scale: 2.2; */
  /* top: 30px; */
  /* left: 0; */
  /* right: 0; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.center-dot {
  margin: auto;
  /* width: 12px; */
  top: 23px;
  left: 28px;
  /* right: 0; */
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  scale: 0.5;
}
.clock-frame {
  /* margin: auto; */
  height: 70px;
  width: 70px;

  /* width: 200px; */
  /* scale: 0.35; */
}
.clock-hand-holder {
  scale: 0.68;
  /* bottom: 0px; */
  /* width: 40px; */
  left: 20px;
  /* right: 0; */

  position: absolute;
  background-color: red;
  top: -32px;
}
.clock-hand {
  position: absolute;
  scale: 0.5;
  /* transform: scale(0.2); */
  transform-origin: bottom;
  /* transition: transform 1s linear; */
  animation-duration: 5s;
  animation-name: handturn;
  animation-iteration-count: infinite;

  /* animation-timing-function: linear; */
}
.clock-hand-2 {
  scale: 0.5;
  position: absolute;

  transform-origin: bottom;
  /* transition: transform 1s linear; */
  animation-duration: 60s;
  animation-name: handturn2;
  animation-iteration-count: infinite;
  /* animation-direction: forward; */
  animation-timing-function: linear;
}

.clock-hand-1-backwards {
  animation-duration: 2s;
}
.clock-hand-2-backwards {
  animation-duration: 2s;
  animation-direction: reverse;
}
@keyframes handturn {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes handturn2 {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(495deg);
  }
}
/* .clock-hand:hover {
    } */
