#skill-zone {
  height: 100vh;
}
#projects-zone {
  height: 100vh;
}
.yolkify-grid-collapsed {
  display: grid;
  grid-template-columns: 70px 180px 2fr 2fr 2fr;
  width: 200px;
  height: 60px;
  overflow: hidden;
  max-width: 1920px;
  margin-left: 100px;
  margin-bottom: 100px;
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;
  transition: all 1s ease, width 1s ease, height 1s ease;
  animation: movingShadow1 5s infinite ease;
}

.yolkify-grid-open {
  transition: all 2s ease, width 2s ease, height 2s ease;
  display: grid;
  grid-template-columns: 70px 180px 2fr 2fr 2fr;
  width: 50vw;
  height: 550px;
  overflow: hidden;
  max-width: 1920px;
  margin-left: 100px;
  margin-bottom: 100px;
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;
  animation: movingShadow1 5s infinite ease;
  transform: translateX(350px);
  margin-bottom: -610px;
}

@keyframes movingShadow1 {
  from {
    box-shadow: 0px 0px 0px -1px #e2a747;
  }
  50% {
    box-shadow: 0px 0px 0px 10px #e2a747;
  }
  to {
    box-shadow: 0px 0px 0px -1px #e2a747;
  }
}
.yolkify-web-grid-collapsed {
  transition: all 1s ease, width 1s ease, height 1s ease;
  display: grid;
  grid-template-columns: 70px 160px 2fr 2fr;
  /* grid-template-rows: repeat(8, 100px); */
  width: 200px;
  height: 80px;
  overflow: hidden;
  max-width: 1920px;
  margin-left: 100px;
  margin-bottom: 100px;
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;
  border-right-width: 0px;

  animation: movingShadow1 5s infinite ease;
}
.yolkify-web-grid-open {
  transition: all 1s ease, width 1s ease, height 1s ease;
  display: grid;
  grid-template-columns: 70px 1fr 2fr 2fr;
  /* grid-template-rows: repeat(8, 100px); */
  overflow: hidden;
  width: 50vw;
  height: 450px;
  max-width: 1920px;
  margin-left: 100px;
  margin-bottom: 100px;
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;

  transform: translateX(350px) translateY(-220px);
  margin-bottom: -500px;
  animation: movingShadow1 5s infinite ease;
}
@keyframes movingShadow1 {
  from {
    box-shadow: 0px 0px 0px -1px #e2a747;
  }
  50% {
    box-shadow: 0px 0px 0px 10px #e2a747;
  }
  to {
    box-shadow: 0px 0px 0px -1px #e2a747;
  }
}
.minterval-web-grid-collapsed {
  transition: all 1s ease, width 1s ease, height 1s ease;
  display: grid;
  grid-template-columns: 60px 1fr 2fr 2fr;
  /* grid-template-rows: repeat(8, 100px); */
  width: 200px;
  height: 80px;
  overflow: hidden;
  max-width: 1920px;
  margin-left: 100px;
  margin-bottom: 100px;
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;
  border-right-width: 0px;
  animation: movingShadow2 5s infinite ease;
}
.minterval-web-grid-open {
  transition: all 1s ease, width 1s ease, height 1s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 70px 1fr 2fr 2fr;
  /* grid-template-rows: repeat(8, 100px); */
  width: 50vw;
  height: 770px;
  max-width: 1920px;
  margin-left: 100px;
  margin-bottom: 100px;
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;
  animation: movingShadow2 5s infinite ease;

  transform: translateX(350px) translateY(-460px);
}
@keyframes movingShadow2 {
  from {
    box-shadow: 0px 0px 0px -1px #9adbb3;
  }
  50% {
    box-shadow: 0px 0px 0px 10px #9adbb3;
  }
  to {
    box-shadow: 0px 0px 0px -1px #9adbb3;
  }
}
.technology-logo {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.skill-name-holder-grid {
  grid-column: 2;
  grid-row-start: 3;

  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  font-size: 16pt;
  align-items: flex-start;
  /* align-self: flex-start; */
}
.project-header {
  margin-left: 100px;
}
#yolkify-dashboard {
  grid-area: 3/ 4/ 8/ 5;
  /* width: 100%; */
  max-width: 200px;
}
#yolkify-profile {
  grid-area: 3/ 5/ 8/ 6;
  /* width: 100%; */
  max-width: 200px;
}
#yolkify-web-ss {
  grid-area: 2/ 3/ 5/ 5;
  border-radius: 5px;
  width: 100%;
}
#minterval-ss-column {
  grid-area: 2/ 3/ 4/ 5;
  border-radius: 5px;
  width: 100%;
}

.skill-name-grid {
  margin: 0px;
  margin-left: 15px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 14pt;
}
.project-content-area-collapsed {
  /* background-color: red; */
  /* width: 400px; */
  /* overflow: hidden; */
}

.project-area {
  display: flex;
  flex-direction: column;
}
.logo-column-grid {
  grid-row-start: 3;
  grid-column: 1/2;
  width: 100px;
}
.project-header-holder {
  grid-column: 0/2;
  grid-row: 0/1;
  display: flex;
  justify-content: space-between;
  /* margin-left: 300px; */
}
.project-name-and-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1;
  grid-column: 1 / span 2;
  align-self: center;
}
.project-name {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  margin-left: 5px;
  margin-right: 15px;
  /* align-self: flex-start; */
}
.project-photo {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
}
.project-name {
  text-decoration: underline;
  /* font-size: 20pt; */
  /* margin-left: 20px; */
  align-self: flex-start;
}
.project-description {
  /* font-size: 20pt; */
  grid-area: 1/ 4/ 1/ 6;
  /* margin-left: 10px; */
  align-self: center;
}
.description-yolk-web {
  /* font-size: 20pt; */
  grid-area: 1/ 3/ 1/5;

  align-self: center;
}
.description-minterval {
  /* font-size: 20pt; */
  grid-area: 1/ 3/ 1/5;

  align-self: center;
}
.yolkify {
  color: #e2a747;
}
.minterval {
  color: #9adbb3;
}

.project-area {
  /* height: 400px; */
}
.skill-holder-grid {
  grid-column: 1;
  grid-row: 3;
}
.minterval-ss {
  /* grid-area: 4/ 4/ 4/ 5; */
  border-radius: 5px;
  width: 100%;
}
:hover .pointer {
  cursor: pointer;
}

/* smaller desktop */
@media (max-width: 1200px) and (min-width: 781px) {
  #yolkify-web-ss {
    grid-area: 2/ 3/ 5/ 5;
    border-radius: 5px;
    width: 100%;
  }

  .yolkify-grid-open {
    padding: 10px;
    width: 480px;
    margin-left: 20px;
    grid-template-columns: 70px 80px 2fr 2fr 2fr;
    /* min-width: 550px; */
    /* margin-right: 10px; */
    transform: translateX(290px) translateY(-40px);
  }
  .yolkify-web-grid-open {
    padding: 10px;
    width: 480px;
    margin-left: 20px;
    grid-template-columns: 70px 1fr 2fr 2fr;
    /* min-width: 550px; */
    /* margin-right: 10px; */
    transform: translateX(290px) translateY(-220px);
  }
  .minterval-web-grid-open {
    padding: 10px;
    width: 480px;
    margin-left: 20px;
    grid-template-columns: 70px 1fr 2fr 2fr;
    height: 600px;
    /* min-width: 550px; */
    /* margin-right: 10px; */
    transform: translateX(290px) translateY(-460px);
  }
  .yolkify-grid-collapsed {
    margin-left: 20px;
  }
  .yolkify-web-grid-collapsed {
    margin-left: 20px;
  }
  .minterval-web-grid-collapsed {
    margin-left: 20px;
  }

  .technology-logo {
    width: 70px;
  }
  .skill-name-grid {
    font-size: 10pt;
  }
  #yolkify-dashboard {
    /* width: 100%; */
    width: 150px;
    max-width: 200px;
  }
  #yolkify-profile {
    /* width: 100%; */
    width: 150px;
    max-width: 200px;
  }
  .technology-logo {
    height: 65px;
  }
  .skill-name-grid {
    margin-left: 15px;
    height: 65px;
    font-size: 14pt;
  }
  #minterval-ss-column {
    grid-area: 3/ 3/ 4/ 5;
    border-radius: 5px;
    width: 100%;
  }
}

/* mobile */
@media (max-width: 780px) {
  #yolkify-web-ss {
    grid-area: 2/ 3/ 5/ 5;
    border-radius: 5px;
    width: 100%;
  }
  .project-header {
    margin-left: 10px;
  }
  .yolkify-grid-collapsed {
    padding: 10px;
    width: 90vw;
    height: 65px;
    margin-left: 10px;
    /* margin-right: 10px; */
    grid-template-rows: auto auto 300px auto;
  }
  .yolkify-grid-open {
    transform: none;
    padding: 10px;
    width: 90vw;
    height: 900px;
    margin-left: 10px;
    /* margin-right: 10px; */
    grid-template-rows: auto auto 300px auto;
    margin-bottom: 0px;
  }
  .yolkify-web-grid-open {
    transform: none;
    padding: 10px;
    width: 90vw;
    margin-left: 10px;
    height: 650px;
    grid-template-rows: auto auto minmax(240px, auto) auto;
    margin-bottom: 30px;
  }
  .minterval-web-grid-open {
    transform: none;
    padding: 10px;
    height: 1100px;
    width: 90vw;
    margin-left: 10px;
    grid-template-rows: auto auto minmax(415px, auto) auto;
    margin-bottom: 0px;
  }
  .yolkify-web-grid-collapsed {
    padding: 10px;

    height: 65px;
    width: 90vw;

    margin-left: 10px;
    grid-template-rows: auto auto minmax(415px, auto) auto;
  }
  .minterval-web-grid-collapsed {
    padding: 10px;
    width: 90vw;
    margin-left: 10px;
    grid-template-rows: auto auto minmax(415px, auto) auto;
    height: 65px;
  }
  #minterval-ss-column {
    grid-area: 3/ 1/ 4/ -1;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  .project-description {
    /* font-size: 20pt; */
    grid-area: 2/ 1/ 3/ -1;
  }
  .minterval-ss {
    border-radius: 5px;
    /* width: 50%; */
  }
  .skill-name-holder-grid {
    grid-column: 3;
    grid-row-start: 4;
  }
  .skill-holder-grid {
    grid-column: 2;
    grid-row: 4;
  }
  #yolkify-web-ss {
    grid-area: 3/ 1/ 5/ -1;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
  }
  #yolkify-dashboard {
    grid-area: 3/ 1/ 4/ 3;
    height: 100%;
    max-height: 400px;
    margin-left: 20px;
  }
  #yolkify-profile {
    grid-area: 3/ 3/ 4/ 5;
    height: 100%;
    max-height: 400px;
    margin-left: -20px;
  }
  .technology-logo {
    height: 65px;
  }
  .skill-name-grid {
    margin: 0px;
    margin-left: 15px;
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    font-size: 14pt;
  }
}
